<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <link rel="stylesheet" href="css/book.css">
    </head>
    <body>
<!--        <p>用 node 服务器的方式运行，通过使用用后端 API 获取数据</p>-->
        <div class="title"><p>豆瓣读书 T250 数据分析</p></div>
        <div class="chart-all">
            <div id="line" class="chart"></div>
            <div id="bar" class="chart"></div>
            <div id="pie" class="chart">
        </div>
        <!-- echarts 是一个流行的图表库 -->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/echarts.min.js"></script>
        <!-- api.js 中是获取数据的代码 -->
        <script src="js/api.js"></script>
        <!-- book.js 中是利用 echarts 渲染整个页面的代码 -->
        <script src="js/book.js"></script>
    </body>
</html>
